In [106]:
import pandas as pd
df=pd.read_csv ('INSURED.csv')
df

    AGE  have_insurance
0    22               0
1    25               0
2    47               1
3    52               0
4    46               1
5    56               1
6    55               0
7    60               1
8    62               1
9    61               1
10   18               0
11   28               0
12   27               0
13   29               0
14   49               1

In [110]:
from matplotlib import pyplot as plt
%matplotlib inline

In [112]:
plt.scatter (df.AGE,df.have_isurance,df.AGE,c= "red", marker= + )

SyntaxError: invalid syntax (1507912117.py, line 1)

In [114]:
df.shape

(15, 2)

In [117]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test= train_test_split(df[['AGE']], df.have_insurance, test_size=0.2, random_state=0)

In [118]:
x_test

   AGE
1   25
6   55
8   62

In [119]:
x_train

    AGE
9    61
14   49
4    46
2    47
13   29
10   18
7    60
11   28
3    52
0    22
5    56
12   27

In [121]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [122]:
model.fit (x_train, y_train)

LogisticRegression()

In [123]:
model.predict (x_test)

array([0, 1, 1], dtype=int64)